spring:
  application:
    name: glossary-service
  datasource:
    url: jdbc:postgresql://127.0.0.1:5433/glossary
    username: glossary_user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
