spring:
  application:
    name: glossary-service
  datasource:
    url: jdbc:postgresql://127.0.0.1:5433/glossary
    username: glossary_user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
    baseline-on-migrate: true

jwt:
  secret: c29yaW4tZ2xvc3Nhcnktc2VjcmV0LWtleS1mb3ItZGV2ZWxvcG1lbnQtZW52aXJvbm1lbnQtbXVzdC1iZS1sb25nLWVub3VnaAo= # Base64 encoded "sorin-glossary-secret-key-for-development-environment-must-be-long-enough"
  token-validity-in-seconds: 86400 # 24 hours
